<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")    
    title Document
    body
    h1 hello
      h3 login page 
      label(for="email") email
      input(type="text") 
      br
      br
      label(for="password") password
      input(type="password") 
      br
      br
      a(href="/google/auth") google auth
      br
      br
      a(href="/facebook") facebook auth

  body
